<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta property="og:title" content="항해 오피스" />
    <meta property="og:description" content="재밌는 영화 후기 및 리뷰를 보실수 있습니다" />
    <meta property="og:image" content="{{ url_for('static', filename='css/navbar_image.png') }}" />
    <title>항해 오피스</title>
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/1179/1179120.png">

    <!-- Bulma CSS 링크 -->
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyle.css') }}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/static/js/mainJS.js"></script>

</head>
<body>
  <!--          navbar-->
  <nav class="navbar" role="navigation" aria-label="main navigation">
      <!--          navbar logo 넣어야함-->
      <div class="navbar-brand">
          <a class="navbar-item" href="/">
              <img src="https://image.flaticon.com/icons/png/512/1179/1179120.png">
              <span class="Logo">HangHae Office</span>
          </a>
      </div>
      <div class="navbar-end">
          <div class="navbar-item">
              <div class="buttons">
                  <a class="button login-button" onclick="logout()">
                      Logout
                  </a>
              </div>
          </div>
      </div>
  </nav>
  <!--          main center-->
  <section class="jb-wrap">
      <div class="jb-image">
      <img
        alt="Responsive image"
        class="img-fluid main-img"
        src="https://cdn.vox-cdn.com/thumbor/TNR9_SeqpcAKiqrdZlxqupZ8aJM=/0x0:990x652/1200x800/filters:focal(416x247:574x405)/cdn.vox-cdn.com/uploads/chorus_image/image/67170965/Screen_Shot_2015-05-08_at_12.32.14_PM.0.0.png">
      </div>
      <div class="office-text">
        <h2>박 스 오 피 스</h2>
      </div>
      <div class="jb-text">
        <div class="main-home-right1">
          <ul class="list-group list-group-flush">
            {% for weekly in weeklys %}
            {% set movie_rank = weekly['rank'] %}
            {% set movie_name = weekly['movieNm'] %}
            {% if movie_rank|int <= 5 %}
            <li class="list-group-item">{{movie_rank}} {{ weekly['movieNm'] }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="main-home-right2">
          <ul class="list-group list-group-flush">
            {% for weekly in weeklys %}
            {% set movie_rank = weekly['rank'] %}
            {% set movie_name = weekly['movieNm'] %}
            {% if movie_rank|int > 5 %}
            <li class="list-group-item">{{movie_rank}} {{ weekly['movieNm'] }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
			</div>
  </section>
  <!--          cards-->
  <div class="card-columns">

  </div>
</body>
</html>
